body {
  background: url(images/numbers.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
  font-family: 'Cairo', sans-serif;
}

section {
  background: black;
  position: relative;
  top: 200px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  width: 50%;
  border: 2px solid white;
}


.guess-button {
  position: absolute;
  left: 45%;
  bottom: 40%;
}

.user-input {
  position: absolute;
  left: 35%;
  bottom: 40%;
}

.clear-button {
  color: ;
  position: absolute;
  left: 55%;
  bottom: 40%;
}

.reset-button {
  position: absolute;
  left: 45%;
  bottom: 20%;
}

.range-button {
  position: absolute;
  left: 65%;
  bottom: 30%;
}

.set-min {
  position: absolute;
  left: 20%;
  bottom: 30%;
}

.set-max {
  position: absolute;
  bottom: 30%;
  left: 42%;
}

h1 {
  font-size: 28px;
  margin-bottom: 2%;
  text-align: center;
  padding-top: 36px;
  color: white;
}

.user-input-display {
  font-size: 40px;
  width: 10px;
  height: 10px;
  color: black;
  margin: auto;
  color: white;
}

article {
  display: inline;
  margin: auto;
}

.user-hint-message {
  text-align: center;
  margin-top: 50px;
  color: white;
}
